// ul li {
//   list-style-type: none;
//   float: left;
// }

tr {
  list-style-type: none;
  float: left;
}

.contacts {
  display: flex;
  justify-content: space-between;
  border: yellow solid 2px;
}

.contactHeader {
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

form {
  height: 16px;
  width: 200px;
  margin-left: 40px;
}

.delete {
    background-color: #b22323;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    width: 85px;
    position: absolute;
    left: 85%;



}

.delete:hover {
    background-color: #7f1919;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    width: 85px;
    cursor: pointer;
}
